{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    {% include "/partials/header.html.twig" %}
    <div class="slide" id="connexion">
        <div class="connexionContent">
            <h1 style="text-align: center">Modification du profil de {{user.lastname}}-{{user.firstname}}</h1>
            {# <a href="{{path('account_register')}}" ><button class="btn uploadBtn">Je n'ai pas de compte</button></a> #}
            
            {{form_start(myform)}}
                {{form_widget(myform)}}
                <button type="submit" class="btn-dore">Enregistrer les modifications</button>
            {{form_end(myform)}}
       
        </div>
        
    
    </div>
    {% include "/partials/footer.html.twig" %}
{% endblock %}
